
* {
	-fx-charcoalcolor:#FFFFF0;
	-fx-ivorycolor: #222222;
	-fx-color1: #555656;
	-fx-color2: #eeeeec;
}
.sidebar-label {
    -fx-text-fill: -fx-color2;
    -fx-background-color: -fx-color1;
    -fx-padding: 1.0em 1.5em 1.0em 1.5em;
    -fx-border-insets: .5em;
    -fx-background-insets: .5em;
    -fx-font-family: monospace;

}
.custom-text{
	-fx-font-family: 'monospace';
}

.ivory-square{
	-fx-background-color: -fx-ivorycolor;
}
.charcoal-square{
	-fx-background-color: -fx-charcoalcolor;
}
.clicked-start{
	-fx-background-color:rgb(1,113,190);
}
.clicked-end{
	-fx-background-color: rgb(255,196,0);
}
.clicked-arrow{
	-fx-background-color: rgb(204,0,0);
}